html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

#search-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.button-secondary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-secondary.is-hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  list-style: none;
}
